
:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: rgba(255, 241, 247, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --color-text: rgba(53, 52, 48, 1);
  --color-header-title: rgba(255, 194, 230, 1);
  --color-shadow-title: rgba(255, 141, 203, 1);
  --title-color: rgba(255, 194, 230, 1);
  --color-main-title: rgba(53, 52, 48, 1);
  --title-decor: rgba(255, 141, 203, 1);
  --color-list: rgba(53, 52, 48, 1);
  --color-corners: rgba(53, 52, 48, 1);
  --color-hover: rgba(50, 49, 45, 0.4);
}

.theme-light .header__rec::after {
  display: none;
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: rgba(255, 241, 247, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --color-text: rgba(53, 52, 48, 1);
  --color-header-title: rgba(255, 194, 230, 1);
  --color-shadow-title: rgba(255, 141, 203, 1);
  --title-color: rgba(255, 194, 230, 1);
  --color-main-title: rgba(53, 52, 48, 1);
  --title-decor: rgba(255, 141, 203, 1);
  --color-list: rgba(53, 52, 48, 1);
  --color-corners: rgba(53, 52, 48, 1);
  --color-hover: rgba(50, 49, 45, 0.4);
  }

  .header__rec {
    display: none;
  }

  .header__rec::after {
    display: none;
  }
}


